@use 'reset';
@use 'utility';
@use 'properties';
@use 'queries/headerQueries';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

body {
  font-family: var(--ff-body);
  background-color: var(--clr-neutral-dark-iv);
}

button {
  background-color: var(--clr-primary);
  border: 0;
  padding: var(--sp-s) var(--sp-xs);
  border-radius: 10px;
  cursor: pointer;
}
